<div class="mb-4 text-center">
    <h1>Statistique de réponse au sondage</h1>
</div>

<div class="card flex justify-content-center">
    <p-chart type="pie" [data]="data" [options]="options" />
</div>

<div class="mt-4">
    <p-table #dt [value]="collabStatsAnswered" [rows]="5" [paginator]="true"
     [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [showCurrentPageReport]="true">

    <ng-template pTemplate="header">
        <tr>
            <th>Nom </th>
            <th>Prenom </th>
            <th>Unité Commerciale</th>
            <th>Email </th>
            <th pSortableColumn="client">Client <p-sortIcon field="client"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collaborateur>
        <tr>
            <td>{{ collaborateur.nom }}</td>
            <td>{{ collaborateur.prenom }}</td>
            <td>{{ collaborateur.uc }}</td>
            <td>{{ collaborateur.email }}</td>
            <td pSortableColumn="client">{{ collaborateur.client }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">En totalité il y a {{ collabStatsAnswered ?
            collabStatsAnswered.length : 0 }} collaborateur(s) ayant répondu</div>
    </ng-template>
</p-table>
</div>
<div class="mt-4">
<p-table #dt [value]="collabStatsDidNotAnswer" [rows]="5" [paginator]="true"
     [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [showCurrentPageReport]="true">

    <ng-template pTemplate="header">
        <tr>
            <th>Nom </th>
            <th>Prenom </th>
            <th>Unité Commerciale</th>
            <th>Email </th>
            <th pSortableColumn="client">Client <p-sortIcon field="client"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collaborateur>
        <tr>
            <td>{{ collaborateur.nom }}</td>
            <td>{{ collaborateur.prenom }}</td>
            <td>{{ collaborateur.uc }}</td>
            <td>{{ collaborateur.email }}</td>
            <td>{{ collaborateur.client }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">En totalité il y a {{ collabStatsDidNotAnswer ?
            collabStatsDidNotAnswer.length : 0 }} collaborateur(s) n'ayant pas répondu</div>
    </ng-template>
</p-table>
</div>



