<p-card class="m-2">

    <form [formGroup]="locomotionForm">
        <div>
            <label for="transport" class="font-bold mr-2">Moyen de transport pour aller sur site:</label>
            <p-dropdown id="transport" name="transport" formControlName="locomotion" (change)="onLocomotionChange()"
                [options]="meansOfTransportaion" optionLabel="label"
                placeholder="Selectionner un mode de transport"></p-dropdown>
        </div>

        @switch (locomotionControl.value) {
        @case (TransportationOptions.BUS) {
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="distance" class="p-col-12 p-md-2 p-mr-2 font-bold">Distance parcourue en KM:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="distance" name="distance" formControlName="distance"></p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="time" class="p-col-12 p-md-2 p-mr-2 font-bold">Le temps passé en minutes:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="time" name="time" formControlName="time"></p-inputNumber>
                </div>
            </div>
        </div>

        }
        @case (TransportationOptions.METRO) {
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="distance" class="p-col-12 p-md-2 p-mr-2 font-bold">Distance parcourue en KM:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="distance" name="distance" formControlName="distance"></p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="time" class="p-col-12 p-md-2 p-mr-2 font-bold">Le temps passé en minutes:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="time" name="time" formControlName="time"></p-inputNumber>
                </div>
            </div>
        </div>

        }
        @case (TransportationOptions.SCOOTER) {
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="distance" class="p-col-12 p-md-2 font-bold p-mr-2">Distance parcourue en KM:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="distance" name="distance" formControlName="distance"></p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="time" class="p-col-12 p-md-2 font-bold p-mr-2">Le temps passé en minutes:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="time" name="time" formControlName="time"></p-inputNumber>
                </div>
            </div>
        </div>

        }

        @case (TransportationOptions.BIKE) {
        <div class="p-fluid">
            <div class="p-field p-grid">
                <div class="p-col-12">
                    <p-checkbox label="Vélo à Assistance Électrique (VAE):" name="vae" value="vae"
                        formControlName="vae"></p-checkbox>
                </div>
            </div>

            @if(vae == "vae") {
            <div class="p-field p-grid">
                <label for="distance" class="p-col-12 p-md-3 font-bold p-mr-2">Distance parcourue en KM:</label>
                <div class="p-col-12 p-md-8">
                    <p-inputNumber id="distance" name="distance" formControlName="distance"></p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="time" class="p-col-12 p-md-3 font-bold p-mr-2">Le temps passé en minutes:</label>
                <div class="p-col-12 p-md-8">
                    <p-inputNumber id="time" name="time" formControlName="time"></p-inputNumber>
                </div>
            </div>
            }
        </div>
        }


        @case (TransportationOptions.CAR) {
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label for="distance" class="p-col-12 p-md-2 p-mr-2">Distance parcourue en KM:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="distance" name="distance" formControlName="distance"></p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="time" class="p-col-12 p-md-2 p-mr-2">Le temps passé en h:</label>
                <div class="p-col-12 p-md-9">
                    <p-inputNumber id="time" name="time" formControlName="time"></p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="cartemplate" class="p-col-12 p-md-2 p-mr-2">Gabarit de voiture:</label>
                <div class="p-col-12 p-md-9">
                    <p-dropdown id="cartemplate" name="cartemplate" formControlName="cartemplate"
                        [options]="carTemplate" optionLabel="label" placeholder="Selectionner un gabarit"></p-dropdown>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="carType" class="p-col-12 p-md-2 p-mr-2">Type de voiture:</label>
                <div class="p-col-12 p-md-9">
                    <p-dropdown id="carType" name="carType" formControlName="vehicleType" [options]="vehicleTypes"
                        optionLabel="label" placeholder="Selectionner un type"></p-dropdown>
                </div>
            </div>
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-2"></div>
                <div class="p-col-12 p-md-9">
                    <p-checkbox label="propose covoiturage:" name="carpooling" value="yes"
                        formControlName="carpooling"></p-checkbox>
                </div>
            </div>
        </div>
        }

        @case (TransportationOptions.MOTORIZED) {
            <div class="p-fluid">
                <div class="p-field p-grid">
                  <label for="distance" class="p-col-12 p-md-3 font-bold p-mr-2">Distance parcourue en KM:</label>
                  <div class="p-col-12 p-md-8">
                    <p-inputNumber id="distance" name="distance" formControlName="distance"></p-inputNumber>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="time" class="p-col-12 p-md-3 font-bold p-mr-2">Le temps passé en h:</label>
                  <div class="p-col-12 p-md-8">
                    <p-inputNumber id="time" name="time" formControlName="time"></p-inputNumber>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="twoWheeler" class="p-col-12 p-md-3 font-bold p-mr-2">Type des deux-roues motorisé:</label>
                  <div class="p-col-12 p-md-8">
                    <p-dropdown id="twoWheeler" name="twoWheeler" formControlName="twoWheelerType"
                      [options]="twoWheelerTypes" optionLabel="label" placeholder="Selectionner le type"></p-dropdown>
                  </div>
                </div>
              </div>

        }
        }
    </form>
</p-card>