h1 {
    text-align: center; 
}
input, select, .radio-group {
    margin-bottom: 20px;
}
.radio-group {
    display: flex;
    justify-content: space-between;
}
label {
    display: block;
    margin-bottom: 10px;
}
.btn-submit {
    background-color: #005f73;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-submit:hover {
    background-color: #0a9396;
}


  .card-container {
    max-width: 900px;
    margin: 0 auto;
  }

  
.btn-small {
    padding: 0.25rem 0.5rem; /* Ajuste les dimensions du bouton */
    font-size: 0.875rem;     /* Taille de la police plus petite */
}

.right-align {
    float: right;            /* Aligne les boutons à droite */
    margin-left: 0.5rem;     /* Espace entre les boutons */
}

.img-centered{
    width: 100px;
    margin: 0 auto;
    display: flex;
}

.colored {
font-weight: bold;
color: red;
}